.demo-note {
  cursor: default !important;
  position: fixed !important;
  top: 50px;
  right: 15px;
  z-index: 1050;
  background: #f44336 !important;
  color: #fff;

  font-size: 14px;
  font-weight: 600;
  padding: 6.5px 30px;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  text-align: center;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}
