@import '../../../assets/styles/_colors.scss';
@import '../../../assets/styles/_elements.scss';
@import '../../../assets/mixins/_globals.scss';

:host {



  .login-container {

    margin-top:150px;

    @include align-center-horizontally;

    width: 250px;
    height:180px;
    padding:25px;
    background-color: #fefefe;
    border:1px solid #dedede;

    text-align:center;

    input {
      padding:5px;
      width:200px;
      margin-bottom:10px;
    }

    button {
      margin-top:15px;
    }

  }
}



