@import '../../../assets/styles/_colors.scss';
@import '../../../assets/styles/_elements.scss';
@import '../../../assets/mixins/_globals.scss';

:host {
  .upload-component {
    margin-top: 50px;
    width: 50%;
    @include align-center-horizontally;

.custom-file {
      .custom-file-label {
        border:1px solid rgba($color-primary, 0.35);;
        border-radius: 0px;

        &:hover {
          cursor:pointer;
        }
      }

      .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.5em + 0.75rem);
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        color: white;
        content: "Browse";
        background-color: $color-primary;
        border-left: inherit;
        border-radius: 0px;
        width:100px;
        text-align:center;
        border:1px solid $color-primary;
      }
    }

    .center-content {
      margin-top: 40px;
      text-align: center;
    }



    .upload-message {
      margin-top: 20px;
    }
  }
}
