<div class="upload-component w-50">
  <div class="row">
    <div class="col">
      <div class="input-group">
        <div class="custom-file">
          <input
            type="file"
            id="myFile"
            name="filename"
            #file
            id="inputGroupFile01"
            (change)="fileSelected(file)"
          />
          <label class="custom-file-label" for="inputGroupFile01">{{
            file.files.length > 0 ? file.files[0].name : 'Choose file'
          }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-content">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary app-button"
        (click)="upload(file)"
      >
        Upload
      </button>

      <h3 class="upload-message">{{ uploadResultMessage }}</h3>
    </div>
  </div>
</div>
